.Footer {
  display: flex;
  text-align: right;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @apply md:flex-row;
  @apply max-w-screen-xl;
  @apply mx-auto;

  div,
  nav {
    min-height: 150px;
  }

  ul {
    list-style: none;
  }
}
