.Button {
  border: none;
  @apply rounded-lg;
  @apply px-5;
  @apply py-2;
  transition: 0.2s;
  font-weight: 700;
}

.primaryBtn {
  @apply bg-main;
  @apply text-font-white;

  &:hover {
    @apply bg-main-darken;
  }
}

.secondaryBtn {
  @apply bg-background;
  @apply text-font;

  &:hover {
    @apply bg-main-lighten;
  }
}

.disabled {
  @apply bg-font-inActive;
  @apply text-font-white;

  &:hover {
    @apply bg-background;
    @apply text-font-inActive;
  }
}
