.AnimationWrapper {
  width: 100%;
  overflow: hidden;

  * {
    transition: 1s;

    @media (prefers-reduced-motion) {
      * {
        transition: none;
      }
    }
  }
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  @apply translate-x-36;
}
