.Header {
  position: relative;

  div:first-of-type {
    @apply bg-font;
  }

  img {
    opacity: 0.7;
  }
}

.Text {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  @apply text-white;
}

.Title {
  text-transform: capitalize;
}

.Subtitle {
}
